-scripts << 'tiny_mce/tiny_mce'
-throw_content(:js) do
  :javascript
    tinyMCE.init({
      mode : "textareas",
      theme : "advanced",
      width : "100%",
      theme_advanced_buttons1 : "bold,italic,strikethrough,|,bullist,numlist,blockquote,|,justifyleft,justifycenter,justifyright,|,link,unlink,|,spellchecker,fullscreen,code",
      theme_advanced_buttons2 : "",
      theme_advanced_toolbar_location : "top",
      skin : "o2k7",
      plugins : "fullscreen,spellchecker,tabfocus",    
      skin_variant : "black",
      theme_advanced_toolbar_align : "left",
      theme_advanced_statusbar_location : "bottom",
      theme_advanced_resizing : true,
      accessibility_focus:"1", 
      theme_advanced_resize_horizontal:"", 
      dialog_type:"modal",
      tab_focus : ':prev,:next'
    });
#editor
  #editor_sidebar
    #publish.box
      %h3 Publish
      %p
        Status:
        =@post.status
      =submit "Save", :id => "save_button"
      =submit "Publish", :id => "publish_button"
    #tags.box
      %h3 Tags
      %p 
        Tags:
        =text_field :tags
    #categories.box
      %h3 Categories
      %ul 
        %li=check_box :name => 'one', :label => "One"
        %li=check_box :name => 'two', :label => "Two"
  #editor_body
    #editor_content
      #title_wrap
        =text_field :title, :tabindex => 1
        #slug_wrap
          =text_field :slug, :label => "Slug"
      #content_wrap 
        #media_links
          IMGs | Video | Audio | Media
        .tabs
          %div
            HTML
          %div
            Visual
            =text_area :body, :rows => 10, :cols => 5, :tabindex => 2
            %div
              %span
                Word Count
                = 0 